:root {
  --color-primary: #22C9C6;
  --color-primary-light: #68DDD6;
  --color-primary-lighter: #B4DCD3;
  --color-primary-dark: #1BA9A7;
  --color-primary-darker: #168C8B;

  --color-text: #4b5353;

  --color-background: #FFFDF9;
  --color-content-background: #fbcdcd21;

  --color-accent1: #FBCDCD;
  --color-accent2: #F5CA6E;
  --color-accent3: #F3A04E;
}

body>main {
  height: 100dvh;
  padding: 0;
  margin: 0;
  padding-block: unset;
  display: grid;
  grid-template-rows: auto 1fr;
}

.app-content {
  background-color: var(--color-content-background);
  padding: 1rem;
}